{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

<style>

</style>
</head>
    <body>
        <div>
            <h1 id="titulo">Cadastro Clientes</h1>
            <p id="subtitulo">Preencha as informações</p>
            <br>
        </div>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="grupo">

                <div class="campo">
                    <label for="id_nome">Nome</label>
                    <input type="text" name="nome" maxlength="70" required id="id_nome"  value="{{ api }}">
                </div>

                <div class="campo">
                    <label for="id_sobrenome">Sobrenome</label>
                    <input type="text" name="sobrenome" maxlength="70 " required id="id_sobrenome" placeholder="Sobrenome">
                </div>

            </fieldset>

            <fieldset class="grupo">

                <div class="campo">
                    <label for="id_idade">Idade</label>
                    <input type="number" name="idade" required id="id_idade" placeholder="idade">
                </div>

                <div class="campo">
                    <label for="id_email">E-mail</label>
                    <input type="email" name="email" maxlength="70" required id="id_email" placeholder="e-mail">
                </div>

            </fieldset>

            <fieldset class="grupo">
                <div class="campo">
                    <label for="id_dataNascimento">Data De Nascimento</label>
                    <input type="text" name="dataNascimento" required id="id_dataNascimento" placeholder="ex: 1998-11-25">
                </div>

                <div class="campo">
                    <label for="id_apelido">Apelido</label>
                    <input type="text" name="apelido" maxlength="70" id="id_apelido" placeholder="apelido">
                </div>
            </fieldset>

            <div class="campo">
                <label for="id_observacao"></label>
                <textarea name="observacao" cols="40" rows="10" maxlength="1000" id="id_observacao" placeholder="Fale sobre algo que tenha que ser notado"></textarea>
            </div>

            <button class="botao" type="submit" onsubmit="">Salvar</button>

        </form>
</body>
</html>

