{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
    <body>
        <div>
            <h1 id="titulo">Editar Cliente</h1>
            <p id="subtitulo">Edite as informações</p>
            <br>
        </div>
        <form method="POST">
            {% csrf_token %}

            {{ formulario.as_p }}
            <button class="botao" type="submit" onsubmit="">Salvar</button>
            {% if clientes %}
                <a class="botaoo" href="{% url 'delete_cliente' clientes.id %}" role="button" style="text-decoration: none;">Deletar</a>
            {% endif %}
        </form>

</body>
</html>

